body{

margin:0;

font-family:Poppins,sans-serif;

background:#ECECEC;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.contenedor{

display:flex;

width:900px;

background:white;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

border-radius:15px;

overflow:hidden;

}

.registro{

width:50%;

padding:50px;

}

.registro h2{

color:#666;

margin-bottom:30px;

}

.registro input{

width:100%;

padding:12px;

margin:18px 0;

border:none;

border-bottom:2px solid #ccc;

outline:none;

}

.registro button{

background:#FF6B35;

color:white;

border:none;

padding:12px 25px;

margin-top:20px;

cursor:pointer;

}

.social{

width:50%;

padding:50px;

background:linear-gradient(
to bottom,
#10CFC9,
#00B894
);

text-align:center;

color:white;

}

.social h2{

margin-bottom:40px;

}

.social button{

width:85%;

padding:15px;

margin:18px 0;

border:none;

color:white;

cursor:pointer;

}

.facebook{

background:#3B5998;

}

.twitter{

background:#1DA1F2;

}

.correo{

background:#00CEC9;

}

